.heading1{
    color: rgb(24, 111, 224);
}
.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about .left h1{
    padding-bottom: 5px;
}
.about .left p{
    padding-bottom: 1rem;
    text-emphasis: none;
    text-align: justify;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    max-width: 90%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1 /span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    
    z-index: 5;
}
.info{
    color: rgb(54, 134, 238);
}